*{
  padding: 0;
    margin: 0;
    border-radius: 20px;
}
.container {
    background: #f2f2f2;
    text-align: center;  
    min-height: 400px;
    border-radius: 30px;  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Armata', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 800px;
    margin: 0 auto;
}
header{
    background: #004466;
}
h1{    
  padding: 20px;
    margin: 20px; 
}
ul li{
    list-style: none;
    width: 200px;
    background: blue;
}

links{
       
}
.hero{
    height: 500px;
    background: #669999;
    clear: both;
   
}
footer{
    background: #4e4a4a;
    height: 100px;
}

section.content{
    float: right;   
    width: 600px;  
    background: yellow;
}



